<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="csLocalDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=|DataDirectory|\Database.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="wc" namespace="Jara.WebControl.Toolkit" assembly="WebControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>